/* @import url('https://fonts.googleapis.com/css2?Muli&display=swap'); */

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
    /* border: 1px red solid; */
}

body {
    background-color: #f6f7fb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.progress-container{
    /* border: 1px blue solid; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    position: relative;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    width: 0%;
    height: 4px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: .4s ease;
    border: 3px solid var(--line-border-empty);
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);  
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed
}